<!DOCTYPE html>
<html lang="sk">

<head>
    <meta charset="UTF-8">
    <title>ŽSR InfoTables</title>
</head>

<style>
    img {
        outline: none;
        border: none;
    }

    form {
        text-align: center;        
    }

    body {
        background-color: #1e1848;
        color: #ffffff;        
    }
    
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
    }
</style>

<script>
    function viewStation() {
        var e = document.getElementsByTagName("select")[0];
        var station = e.options[e.selectedIndex].value;
        var table_type = document.querySelector('input[name="table_type"]:checked').value;
        if (table_type == "ARRIVALS") {
            window.location.href = "/station/" + station + "?type=1" + "&font_size=" + document.querySelector('input[name="font_size"]').value;
        } else {
            window.location.href = "/station/" + station + "?type=2" + "&font_size=" + document.querySelector('input[name="font_size"]').value;
        }
    }

    function viewMap() {
        window.location.href = "/map";
    }
</script>

<body>    
    <img src="file/logo.png" alt="ŽSR logo" class="center">    
    <h1 style="text-align: center; font-size: 45px;">Informačné tabule</h1>
    <form method="POST">
        <select>
            {% for enum_value in enum_values %}
            <option value="{{ enum_value }}">{{ enum_value }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="radio" id="departures" name="table_type" value="DEPARTURES" checked="checked">
        <label for="departures">Odchody</label>
        <input type="radio" id="arrivals" name="table_type" value="ARRIVALS">
        <label for="arrivals">Príchody</label>
        <br>
        <label for="font_size">Veľkosť písma:</label>
        <INPUT TYPE="NUMBER" MIN="10" MAX="100" STEP="5" VALUE="20" SIZE="6" name="font_size">
        <br>
        <br>
        <button type="button" onclick="viewStation()">Zobraziť</button>
        <button type="button" onclick="viewMap()">Mapa vlakov</button>
    </form>
</body>

</html>