<!DOCTYPE html>
<html lang="sk">

<head>
    <meta charset="UTF-8">
    <title>ŽSR InfoTables</title>
</head>

<script>
    function returnToList() {
        window.location.href = "/";
    }

    function refreshPage() {
        setInterval(function() {
            window.location.reload();
        }, 30000);
    }
</script>

<body onload="refreshPage()">
    <table></table>
    <form style="text-align: center;">
        <button type="button" onclick="returnToList()">Úvodná stránka</button>
    </form>
</body>

</html>